.navbar {
    background-color: #031755;
    color: white;
}

.score {
    padding: 3px;
    margin-right: 100px;
}

#currentScore, #topScore {
    padding: 3px
}

#currentScore {
    margin-right: 45px;
}